.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Altezza massima della viewport */
  }
  
  .content {
    max-width: 800px; /* Larghezza massima del contenuto */
    width: 100%;
    padding: 20px;
    text-align: center; /* Allinea il testo al centro */
  }
  